@charset "utf-8"

/**
 * Copyright (c) 2013 Matthew Gall
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software
 * and associated documentation files (the "Software"), to deal in the Software without restriction,
 * including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial
 * portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
 * LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
 * EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR
 * THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 **/

/* RESET CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* GLOBAL CSS */
body{
	background-image: url('../_img/bubbles.jpg');
	background-repeat: no-repeat;

	font-family: 'Ubuntu', san-serif;
  	font-size: 12px;
  	color: #FFF;
}

/* NAVBAR CSS */
#fixed_navbar {
	height: 75px;
	position: fixed;
	top: 0;
	margin-bottom: 10px;
}

/* CONTAINER CSS */
#login_container {
	width: 50%;
	min-height: 150px;

	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

#welcome_container {
	width: 95%;
	min-height: 150px;

	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

/* SHAPES */
.circle {
    height: 300px;
    width: 300px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border-radius: 200px;
    padding: 20px;
}

	.circle p {
		font-size: 32px;
    	padding-left: 10%;
    	padding-top: 8%;
	}

.small-circle {
    height: 200px;
    width: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border-radius: 200px;
    padding: 15px;
}

	.small-circle p {
		font-size: 18px;
    	padding-left: 10%;
    	padding-top: 8%;
	}